/* this is for index html file */
#id1 {
  color: aqua;
}

#id2{
  color: chartreuse;
}


/* lower code for text align  */

p {
  text-align: center;
}
h1{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:underline 15px;
  color: forestgreen;
}
h2{
  text-transform: uppercase;
}
h3{
  text-shadow: 2px 2px 5px red;
}

#para{
  font-size: 29px;
  line-height: 200px;
}























/* {
  color: blue;
}


/* h1 {
    color: red;
}  */
/* #heading1 {
  color: aqua; */
/* } */


/* p {
  color: blue;
}
 
button {
   color: aqua;
   background-color: rgb(235, 116, 19);
}
body{
    background-color: #ffa6f9;  */
    /* background-color:rgb(200,220,190) */
    /* }
     
    *{
      color: black;
    } */