*div{
    padding: 0px;
    margin: 0px;
    color: white;
}


#navbar {
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 150px;
    color: white;
}







/* div{
    height: 320px;
    width: 110px;
    background-color:black;
}
#h1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:red;
}#h2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:yellow;

}#h3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
} */